.feather {
  height: 20px;
}

#page {
  margin-top: 50px;
}

#table {
  padding-bottom: 100px;
}

.fs-4 {
  margin: 5px;
}

th:hover {
  cursor: pointer;
}

input[type="text"] {
  border: none;
  background-color: transparent;
  width: 100%;
}

input:focus {
  outline: none;
}

#icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#caption{
  float: left;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
}
